### ANOVA

In [11]:
# Libraries
library(tidyverse)

In [ ]:
# Load the file
df <- read_csv("data.csv")

In [3]:
head(df)

  customer_id age gender income purchase_history
1 1           35  male   50000  low
2 2           28  female 40000  high
3 3           42  male   60000  medium
4 4           31  female 55000  low
5 5           37  female 65000  medium
6 6           45  male   70000  high

In [4]:
df$age_bins <- cut(df$age,
                   breaks = c(25, 33, 40, 47),
                   labels = c("26-33", "34-40", "41-47"),
                   include.lowest = TRUE)

# To view unique age bins
head(unique(df[, c("age", "age_bins")]))

  age age_bins
1 35  34-40
2 28  26-33
3 42  41-47
4 31  26-33
5 37  34-40
6 45  41-47

In [5]:
# Generate the ANOVA model
anova <- aov(income ~ age_bins * gender * purchase_history, data = df)

In [13]:
# Shapiro-Wilk normality test
shapiro.test(residuals(anova))

	Shapiro-Wilk normality test

data:  residuals(anova)
W = 0.98858, p-value = 0.5522

In [10]:
library(car)

In [9]:
# Levene's test
leveneTest(income ~ interaction(age_bins, gender, purchase_history), data = df)

      Df F value   Pr(>F)
group 17 0.6159254 0.8702271
      82        NA        NA

In [ ]:
summary(anova)

                                 Df    Sum Sq   Mean Sq F value Pr(>F)
age_bins                          2 2.959e+08 147973409   1.289 0.2812
gender                            1 2.874e+08 287417989   2.503 0.1175
purchase_history                  2 2.806e+08 140314292   1.222 0.3000
age_bins:gender                   2 5.939e+08 296953935   2.586 0.0814 .
age_bins:purchase_history         4 2.166e+08  54146998   0.472 0.7565
gender:purchase_history           2 6.473e+07  32366436   0.282 0.7551
age_bins:gender:purchase_history  4 1.986e+08  49641984   0.432 0.7849
Residuals                        82 9.416e+09 114827438
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1